.r1{
    width: 100px;
    height:100px;
    border: 1px solid;
    background-color: aquamarine;
}
/* 맨아래께 먼저적용되니까 좁은범위를 아래에 적어야함. */
@media screen and (min-width:500px){
    .r1{
        background-color: yellow;
    }
}

@media screen and (min-width:1000px){
    .r1{
        background-color: blue;
    }

@media screen and (min-width:1500px){
    .r1{
        background-color: red;
    }
}
}


